.navbar-brand h1{
    color: #006D5C;
    text-transform: uppercase;
}
ul li{
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
    display: flex;
}
svg{
    color: #006D5C;
    margin-right: 8px ; 
}
.m{
    margin: 0 10px;
}
.btn{
    
    background-color: #006D5C;
}